version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Plan10boy%26
      POSTGRES_DB: MyDB
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  fastapi_app:
    build: ./fastapi_app
    container_name: fastapi_api
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  pg_data:
